In [ ]:
# python collection
# list 
# tuple 
# dictionery
# set

In [ ]:
# List
# indexing
# Multiple and duplicate
# Ordered
# Mutuable

In [ ]:
a = [1,2,3,4,5,6]
b = ["apple", "ball" , "call"]
print(type(a))
print(type(b))

In [ ]:
l = ["Apple", "Ball", "Cat", "Egg", "Fish"]
print(l[0])
print(l[0:4])
print(l[0:5:2])
print(l)

In [ ]:
# operator are used in list * +

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9]
c = a+b
print(c)

In [ ]:
a = [1,3,4,5,6]
print(a*2)

In [ ]:
# append() inset() extend()

In [ ]:
l = []
n = int(input("Enter n "))
for i in range(n):
    x = int(input("Enter x"))
    l.append(x)
print(l)

In [ ]:
l = [1,4,5,6,7,6]
l.insert(2,9)

l

In [ ]:
l = [2,3,4,5,6,8]
a = [1,4,5,6]
l.extend(a)
l

In [ ]:
l = [233,432,123,345,332,322,5665]
print("Maximum value is ",max(l))
print("Minimum value is", min(l))
print("Total Sum is ", sum(l))
l.sort()
print(l)
l.reverse()
print(l)

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog"]
a.sort()
print(a)

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog"]
for i in a:
    print(i)

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog"]
if "Ball" in a:
    print("yes")
else:
    print("no")

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog","cat"]
if "Cat"  in a:
    if "cat" in a:
        print("yes")
        print(a.count("cat"))
    else:
        print("no")
    print("Yes")
    print(a.count("Cat"))
else:
    print("no")

In [ ]:
# WAP to search any values in a list having no case sensitivity

In [ ]:
# delete values
# del pop() remove()

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog"]
del a[2]
print(a)

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog"]
del a[0:2]
print(a)

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog"]
b =a.pop()
print(a)
print(b)

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog", "Ball"]
a.remove("Ball")
print(a)

In [ ]:
# wap to remove multiple duplicate value from list

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog", "Ball"]
for i in a:
    if "Ball" in i:
        b = a.remove()
    else:
        print("no change")
print(a)
print(b)

In [ ]:
# update

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog"]
a[0] = "Don"
a

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog"]
a[0:2] = ["Apple", "Ball"]
a

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog","cat"]
if "Cat"  in a:
    if "cat" in a:
        print("yes")
        print(a.count("cat"))
    else:
        print("no")
    print("Yes")
    print(a.count("Cat"))
else:
    print("no")

In [1]:
a = ["Ball", "Cat", "apple", "boom", "Dog","cat"]
b = str(a)
c = b.upper()

if "CAT" in c:
    print("Yes")
    
    print(c.count("CAT"))
else:
    print("no")

Yes
2

In [ ]:
a = ["Ball", "Cat", "apple", "boom", "Dog","cat"]
b = str(a)
c = b.lower()
if "cat" in c:
    print("Yes")
    print(c.count("cat"))
else:
    print("No")

In [17]:
x = ["Ball","Cat","apple","boom","Dog","cat"]
y = str(x)
z = y.lower()
w = []
if "cat" in z:
    print("s")
    w.extend(z)
    if "cat" in w:
        print(w.remove("cat"))
    else:
        print("Try until you solve it or better to die")
else:
    print("Try again bro you can")
print(z)
print(w)

s
Try until you solve it or better to die
['ball', 'cat', 'apple', 'boom', 'dog', 'cat']
['[', "'", 'b', 'a', 'l', 'l', "'", ',', ' ', "'", 'c', 'a', 't', "'", ',', ' ', "'", 'a', 'p', 'p', 'l', 'e', "'", ',', ' ', "'", 'b', 'o', 'o', 'm', "'", ',', ' ', "'", 'd', 'o', 'g', "'", ',', ' ', "'", 'c', 'a', 't', "'", ']']

In [18]:
x = ["Ball","Cat","apple","boom","Dog","cat"]
dup_items = set()
uniq_items = []
for a in x:
    if a not in dup_items:
        uniq_items.append(a)
        dup_items.add(x)
        
print(dup_items)

TypeError: unhashable type: 'list'

In [19]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [20]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers +=x
    return sum_numbers
print(sum_list([1,3,4,4]))

12

In [24]:
num = [2,3,4,5,6]

for x in num:
    sum_numbers = 0
    sum_numbers +=x
print(num)

[2, 3, 4, 5, 6]

In [25]:
def multi_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multi_list([1,2,-4]))

-8

In [28]:
a = [3,3,2,4,33,4,4]
b = max(a)
print(b)

33

In [29]:
def max(list):
    ma = list[0]
    for a in list:
        if a > ma:
            ma = a
    return ma
print(max([1,3,4,5,7]))

7

In [33]:
def min(list):
    mi = list[0]
    for x in list:
        if x <= mi:
            mi = x
    return mi
print(min([2,3,4,1,0]))

0

In [ ]:
c = 0
l =  ["Ball","Cat","apple","boom","Dog","cat"]
value = input("Enter")
for i in l:
    if i.lower() == value.lower():
        print("Yes")
        c = c +1
        print(c)

In [2]:
l =  ["Ball","Cat","apple","boom","Dog","Cat"]
c = l.count("Cat")
for i in range(c):
    l.remove("Cat")
print(l)

['Ball', 'apple', 'boom', 'Dog']