In [ ]:
# list inside list
l = [[1,2,3,],[4,5,6],[7,8,9]]
print(type(l))
print(l[0])
print(l[0][0])

In [ ]:
info =[["Ram",34,"kathmandu"],["Shyam",54,"Tinkune"],["Hari",33,"Lalitpur"]]
print(info)
info[0]

In [3]:
l = []
n = int(input("Enter a word"))
for i in range(n):
    name = input("Enter name =")
    age = int(input("Enter age "))
    address = input("Enter add ")
    l.append([name,age,address])
print(l)

Enter a word3
Enter name =dilkash
Enter age 21
Enter add tinkune
Enter name =sushil
Enter age 22
Enter add kathmandu
Enter name =sushant
Enter age 23
Enter add gau
[['dilkash', 21, 'tinkune'], ['sushil', 22, 'kathmandu'], ['sushant', 23, 'gau']]

In [10]:
info =[["Ram",34,"kathmandu"],["Shyam",54,"Tinkune"],["Hari",33,"Lalitpur"]]
info[0][0] = "Ramu"
print(info)

[['Ramu', 34, 'kathmandu'], ['Shyam', 54, 'Tinkune'], ['Hari', 33, 'Lalitpur']]

In [12]:
info =[["Ram",34,"kathmandu"],["Shyam",54,"Tinkune"],["Hari",33,"Lalitpur"]]
del info[0]
print(info)

[['Shyam', 54, 'Tinkune'], ['Hari', 33, 'Lalitpur']]

In [13]:
info =[["Ram",34,"kathmandu"],["Shyam",54,"Tinkune"],["Hari",33,"Lalitpur"]]
name = input("Enter name =")
for i in info:
    if name in i:
        print(i)

Enter name =Ram
['Ram', 34, 'kathmandu']

In [15]:
info =[["Ram",34,"kathmandu"],["Shyam",54,"Tinkune"],["Hari",33,"Lalitpur"]]
name = input("Enter name =")
for i in info:
    if i[0].upper() == name.upper():
        print(i)

Enter name =ram
['Ram', 34, 'kathmandu']

In [18]:
a = ("m",)
print(type(a))

<class 'tuple'>

In [19]:
t = ()
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x"))
    t = t + (x,)
print(t)

Enter n =2
Enter x2
Enter x2
(2, 2)

In [21]:
a = (234,434,532,533,133)
b = list[a]
del b[0]
c = tuple(b)
print(c)

TypeError: 'types.GenericAlias' object does not support item deletion