In [4]:
def calculate_average(number):
    if len(number) == 0:
        return None
    else:
        total = sum(numbers)
        average = total /len(numbers)
        return average
print(calculate_average(6))

TypeError: object of type 'int' has no len()

In [5]:
def calculate(width,height):
    area = width * height
    return area
result = calculate(5,6)
print(result)

30

In [7]:
def greet(name, greeting="Hello"):
    print(greeting + ","+name+ "!")
greet("Dilkash")
greet("Heena", "Hi")

Hello,Dilkash!
Hi,Heena!

In [8]:
def calculate_sum(*args):
    total = sum(args)
    return total
print(calculate_sum(2,4,5))
print(calculate_sum(5,4,3,2,2))

11
16

In [9]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120

In [12]:
num = int(input("Enter number"))
def facto(num):
    if num==0:
        return 1
    else:
        return num * facto(num-1)
print(facto(num))

Enter number8
40320

In [13]:
def get_name_and_age():
    name = "Dilkash"
    age = 22
    return name, age
person_name, person_age = get_name_and_age()
print(person_name)
print(person_age)

Dilkash
22

In [14]:
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)
print(fibonacci(6))

8

In [17]:
def my_function():
    x = 10
    print(x)
my_function()

y = 20
def another_function():
    print(y)
another_function()

10
20

In [19]:
def add(a: int, b: int) ->int:
    return a+b
    print(add)
add(4,3)

7

In [20]:
def uppercase_decorator(function):
    def wrapper():
        result = function()
        return result.upper()
    return wrapper
def greet():
    return "Hello, World!"
print(greet())

Hello, World!

In [21]:
def fibonacci():
    a,b=0,1
    while True:
        yield a
        a,b = b, a +b
fib_gen = fibonacci()
for _ in range(10):
    print(next(fib_gen))

0
1
1
2
3
5
8
13
21
34

In [23]:
# def apply_operation(x,y, operation):
#     return operation(x,y)
addition = lambda a,b:a + b
print(apply_operation(2,3, addition))

5

In [24]:
addition = lambda a,b:a + b
print(apply_operation(2,3, addition))

5

In [25]:
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function
closure = outer_function(5)
print(closure(3))

8

In [26]:
def print_arguments(*args, **kwargs):
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(key + ": " + value)
        
print_arguments("Hello", "World", name="Dilkash",age="22")

Hello
World
name: Dilkash
age: 22

In [27]:
global_var = 10

def modify_global():
    global global_var
    global_var = 20
    
print(global_var)
modify_global()
print(global_var)

def outer_function():
    var = 10
    def inner_function():
        nonlocal var
        var = 20
    inner_function()
    print(var)
outer_function()

10
20
20

In [29]:
def two(x,y):
    if x > y:
        return x
    return y
def three(x,y,z):
    return two(x, two(y,z))
print(three(3,5,2))

5

In [31]:
def max(x,y,z):
    if x > y:
        print("X is greater")
    elif y > z:
        print("Y is greater")
    else:
        print("z is greater")
print(max(3,3,5))

z is greater
None

In [34]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((3,4,6,5,4)))

22

In [35]:
n = int(input("Enter number"))
def sum(n):
    total = 0
    for x in n:
        total += x
    return total
print(sum(n))

Enter number6

TypeError: 'int' object is not iterable

In [37]:
def multi(numbers):
    total = 1
    for x in numbers:
        total *=x
    return total
print(multi((4,5,3)))

60

In [39]:
def string_reverse(str1):
    
    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[index - 1]
        index = index - 1
    return rstr1
print(string_reverse('dsfe43r3'))

3r34efsd

In [40]:
def fac(n):
    if n == 0:
        return 1
    else:
        total = n*fac(n-1)
        return total
print(fac(5))

120

In [41]:
def test(n):
    if n in range(3,9):
        print("%s is in the range"%str(n))
    else:
        print("The number is outside the given range")
test(5)
test(7)
test(8)

5 is in the range
7 is in the range
8 is in the range

In [43]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"]+=1
        elif c.islower():
            d["LOWER_CASE"]+=1
        else:
            pass
    print("Originall String :" ,s)
    print("No. of Upper case characters :", d["UPPER_CASE"])
    print("No. of lower case characters :", d["LOWER_CASE"])
string_test('The quick Brown Fox')

Originall String : The quick Brown Fox
No. of Upper case characters : 3
No. of lower case characters : 13

In [45]:
def unique(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x
print(unique([1,2,3,3,2,1,4,3,2,4,5,5]))

[1, 2, 3, 4, 5]